.home{
        width: 100%;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    .header{

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        // padding: 22px;
        gap: 25px;
        width: 100%;
        background: #fff;
        padding: 24px 32px;
        border-radius: 15px;
        position: relative;
    }
}
.event-list{
    display: grid;
    grid-template-columns: auto auto auto;
    // background-color: #2196F3;
    // padding: 10px;
}
hr.divider{
    border-top: 1 solid #c4c4c4;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}