.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 22px;
    gap: 25px;
    // width: 294px;
    // height: 235px;
    background: #fff;
    border-radius: 8px;
}
.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    // height: 39.64px;
    .world-icon {
        padding: 7.3179px;
        background: #F5F9F9;
        border-radius: 100px;
    }
    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 17px;
        color: #1890ff;
    }
}
.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    &__element {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
.property {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.value {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    width: 100%;
    .card-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
    }
    .card-btn-modal {
        @media (min-width: 976px) {
            display: none;
        }
    }
    .card-btn-info {
        @media (max-width: 976px) {
            display: none;
        }
    }
}
.participant-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
table{
    width: 100%;
    td, th{
        border: 1px solid #a7d0f7;
        padding: 5px;
    }
}