@import '~antd/dist/antd.css';
body {
  /* margin: 24px !important; */
  font-family: "Lexend", "Montserrat", sans-serif;
  /* background-color: #f6f6f6 !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%; */
}
h1{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1890ff;
}
h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* code {
  font-family: "Montserrat", sans-serif;
} */
